<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.erica.oliveoa_company">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 开启设备访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 移除快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <!-- 查询快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/oliveoa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.oliveoa.view.MainActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oliveoa.view.CompanyinfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.AdviseActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.AboutusActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.NullDepartmentActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.DepartmentActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.CreateDepartmentActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.RedactDepartmentActivity"
            android:exported="true"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.oliveoa.view.CompanyinfoEditActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.PasswordActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.EmployeelistActivity"
            android:exported="true"
            android:theme="@style/EmployeeTheme" />
        <activity
            android:name="com.oliveoa.view.RedactDutyActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.DepartmentInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.AddDutyActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.EditEmployeeinfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.AddEmployeeinfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.EmployeeinfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.EditDutyInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.NullGoodsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.AddGoodsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.GoodsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.EditGoodsActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.ChooseDutyActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.GoodsInfoActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.DepartmentSelectActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.oliveoa.view.DutySelectActivity"
            android:exported="true"
            android:theme="@style/HomeTheme" />
    </application>

</manifest>